<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adicionar Usuário</title>
    <%- include('./partials/header') %>  
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <%- include('./partials/side-bar') %>  

        <!-- Left navbar-header -->
        <%- include('./partials/left-navbar-header') %>  
        <!-- Left navbar-header end -->

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Adicionar Usuário</h4> </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Página Inicial</a></li>
                            <li><a href="/patients">Usuários</a></li>
                            <li class="active">Adicionar Usuário</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <% if (messages.error) { %>
                        <div class="alert alert-danger" role="alert">
                            <%= messages.error %>
                        </div>
                    <% } %>  
                    <% if (messages.success) { %>
                        <div class="alert alert-success" role="alert">
                            <%= messages.success %>
                        </div>
                    <% } %> 
                    
                    <div class="col-md-12 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material" action="" method="POST">

                                <div class="form-group">
                                    <label class="col-md-12">Usuário</label>
                                    <div class="col-md-12">
                                        <input type="text" name="username" placeholder="E-mail do Usuário" class="form-control form-control-line" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">E-mail</label>
                                    <div class="col-md-12">
                                        <input type="email" name="email" placeholder="E-mail" class="form-control form-control-line" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Senha</label>
                                    <div class="col-md-12">
                                        <input type="password" name="password" placeholder="Senha" class="form-control form-control-line" required>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-md-12">Confirmar Senha</label>
                                    <div class="col-md-12">
                                        <input type="password" name="confirmPassword" placeholder="Confirmar Senha" class="form-control form-control-line" required>
                                    </div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-sm-12">Tipo de Usuário</label>
                                    <div class="col-sm-12">
                                        <select name="roleId" class="form-control form-control-line" required>
                                            <option value="">Selecionar Tipo</option>
                                            <option value="1">Admin</option>
                                            <option value="2">Monitor</option>
                                        </select>
                                    </div> 
                                </div>  
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success pull-right" type="submit">Adicionar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <%- include('./partials/footer') %> 
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/custom.min.js"></script>
    <!-- Mask Field -->
    <script type="text/javascript" src="//assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
</body>

</html>
