<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editar Paciente</title>
    <%- include('./partials/header') %> 
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        <%- include('./partials/side-bar') %>  
        
        <!-- Left navbar-header -->
        <%- include('./partials/left-navbar-header') %> 
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Editar Paciente</h4> </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Página Inicial</a></li>
                            <li><a href="/patients">Pacientes</a></li>
                            <li class="active">Editar Paciente</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-md-12 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material" action="" method="POST">
                                <% data.forEach(function(patient) { %>
                                <hr>
                                <h3>Dados do Paciente</h3> 
                                <hr>

                                <div class="form-group">
                                    <label class="col-md-12">Nome Completo</label>
                                    <div class="col-md-12">
                                        <input type="text" name="fullName" placeholder="Nome do Paciente" class="form-control form-control-line" 
                                        value="<%= patient.fullName %>"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Nome da Mãe</label>
                                    <div class="col-md-12">
                                        <input type="text" name="mothersName" placeholder="Nome da Mãe do Paciente" class="form-control form-control-line"
                                        value="<%= patient.mothersName %>"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">Data de Nascimento</label>
                                    <div class="col-md-3">
                                        <input type="text" name="birthDate" max-lenght="8" data-mask="00/00/0000" placeholder="Data de Nascimento do Paciente" 
                                        class="form-control form-control-line" value="<%= patient.birthDate %>"> </div>
                                    <label class="col-sm-3">Gênero</label>
                                    <div class="col-sm-3">
                                        <select name="gender" class="form-control form-control-line">
                                            <% if (patient.gender === "Masculino") { %>
                                            <option selected value="Masculino">Masculino</option>
                                            <option value="Feminino">Feminino</option>
                                            <option value="Outro">Prefiro não informar</option>
                                            <% } else if (patient.gender === "Feminino") { %>
                                            <option value="Masculino">Masculino</option>
                                            <option selected value="Feminino">Feminino</option>
                                            <option value="Outro">Prefiro não informar</option>
                                            <% } else { %>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Feminino">Feminino</option>
                                            <option selected value="Outro">Prefiro não informar</option>
                                            <% } %>
                                        </select>
                                    </div>
                                </div>

                                <hr>
                                <h3>Endereço</h3> 
                                <hr>
                                <div class="form-group">
                                    <label class="col-md-3">CEP</label>
                                    <div class="col-md-3">
                                        <input type="text" name="postalCode" data-mask="00.000-000" placeholder="CEP" class="form-control form-control-line"
                                        value="<%= patient.postalCode %>"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">Rua</label>
                                    <div class="col-md-6">
                                        <input type="text" name="streetName" placeholder="Rua, Avenida, Travessa" class="form-control form-control-line"
                                        value="<%= patient.streetName %>"> </div>
                                        <label class="col-md-1">Número</label>
                                    <div class="col-md-2">
                                        <input type="text" name="houseNumber" placeholder="Número" class="form-control form-control-line"
                                        value="<%= patient.houseNumber %>"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3">Complemento</label>
                                    <div class="col-md-3">
                                        <input type="text" name="complement" placeholder="Complemento" class="form-control form-control-line"
                                        value="<%= patient.complement %>"> </div>
                                        <label class="col-md-3">Bairro</label>
                                    <div class="col-md-3">
                                        <input type="text" name="district" placeholder="Bairro" class="form-control form-control-line"
                                        value="<%= patient.district %>"> </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-3">Cidade</label>
                                    <div class="col-md-3">
                                        <input type="text" name="city" placeholder="Cidade" class="form-control form-control-line"
                                        value="<%= patient.city %>"> </div>
                                        <label class="col-md-3">UF</label>
                                    <div class="col-md-3">
                                        <input type="text" name="state" placeholder="Ex.: AM, AC..." class="form-control form-control-line"
                                        value="<%= patient.state %>"> </div>
                                </div>


                                <hr>
                                <h3>Contato</h3> 
                                <hr>

                                <div class="form-group">
                                    <label class="col-md-3">Telefone</label>
                                    <div class="col-md-3">
                                        <input type="text" data-mask="(00) 00000-0000" max-lenght="11" name="phone" placeholder="(00) 00000-0000" 
                                        class="form-control form-control-line" value="<%= patient.phone %>"> </div>
                                    <label class="col-md-3">Telefone de Emergência</label>
                                    <div class="col-md-3">
                                        <input type="text" data-mask="(00) 00000-0000" max-lenght="11" name="emergencyPhone" placeholder="(00) 00000-0000" 
                                        class="form-control form-control-line" value="<%= patient.emergencyPhone %>"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Mora com</label>
                                    <div class="col-md-12">
                                        <input type="text" name="liveWith" placeholder="Nome do Responsável" class="form-control form-control-line"
                                        value="<%= patient.liveWith %>"> </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success pull-right" type="submit">Editar</button>
                                    </div>
                                </div>
                                <% }) %>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <%- include('./partials/footer') %> 
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- Mask Field -->
    <script type="text/javascript" src="http://assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
</body>

</html>
