<!DOCTYPE html>
<html lang="en">

<head>
    <title>Editar Usuário</title>
    <%- include('./partials/header') %> 
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
       
        <%- include('./partials/side-bar') %>  
        
        <!-- Left navbar-header -->
        <%- include('./partials/left-navbar-header') %> 
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Editar Usuário</h4> </div>
                        <ol class="breadcrumb">
                            <li><a href="#">Página Inicial</a></li>
                            <li><a href="/users">Usuários</a></li>
                            <li class="active">Editar Usuário</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    
                    <div class="col-md-12 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material" action="" method="POST">
                                <% data.forEach(function(user) { %>
                                    <div class="form-group">
                                        <label class="col-md-12">Usuário</label>
                                        <div class="col-md-12">
                                            <input type="text" name="username" placeholder="E-mail do Usuário" 
                                            value="<%= user.username %>" class="form-control form-control-line" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12">E-mail</label>
                                        <div class="col-md-12">
                                            <input type="email" name="email" placeholder="E-mail" 
                                            value="<%= user.email %>" class="form-control form-control-line" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">Tipo de Usuário</label>
                                        <div class="col-sm-12">
                                            <select name="roleId" class="form-control form-control-line" required>
                                                <% if (user.roleId === 1) { %>
                                                    <option value="">Selecionar Tipo</option>
                                                    <option value="1" selected>Admin</option>
                                                    <option value="2">Monitor</option>
                                                    <% } else { %>
                                                    <option value="">Selecionar Tipo</option>
                                                    <option value="1">Admin</option>
                                                    <option value="2" selected>Monitor</option>
                                                <% } %>
                                            </select>
                                        </div> 
                                    </div>

                                    <h5>Para alterar a senha desse usuário, <a href="/editPassword/<%= user.id %>">clique aqui</a>.</h5>

                                    <div class="form-group">
                                        <div class="col-sm-12">
                                            <button class="btn btn-success pull-right" type="submit">Editar</button>
                                        </div>
                                    </div>
                                <% }) %>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <footer class="footer text-center"> 2017 &copy; Pixel Admin brought to you by wrappixel.com </footer>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- Mask Field -->
    <script type="text/javascript" src="http://assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
</body>

</html>
