<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pacientes</title>
    <%- include('./partials/header') %> 
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="cssload-speeding-wheel"></div>
    </div>
    <div id="wrapper">
        <!-- Navigation -->
        
        <%- include('./partials/side-bar') %>  

        <!-- Left navbar-header -->
        <%- include('./partials/left-navbar-header') %>
        <!-- Left navbar-header end -->
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row bg-title">
                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
                        <h4 class="page-title">Pacientes</h4> </div>
                        <ol class="breadcrumb">
                            <li><a href="/home">Página Inicial</a></li>
                            <li class="active">Pacientes</li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-sm-12">
                        <div class="white-box">
                            <div class="row">
                                <div class="col-sm-11">
                                    <h3 class="box-title">Pacientes</h3>
                                </div>
                                <div class="col-sm-1">
                                    <a href="/createPatient" class="btn btn-primary pull-right m-l-20 btn-rounded btn-outline hidden-xs hidden-sm waves-effect 
                                    waves-light">Adicionar</a>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Nome Completo</th>
                                            <th>Idade</th>
                                            <th>Gênero</th>
                                            <th>Opções</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% data.forEach(function(patient) { %>
                                            <tr>
                                                <td><%- patient.id %></td>
                                                <td><a href="/viewPatient/<%= patient.id %>"><%- patient.fullName %></a></td>
                                                <td><%- currentYear- parseInt(patient.birthDate.substr(patient.birthDate.length - 4)) %></td>
                                                <td><%- patient.gender %></td>
                                                <td>
                                                    <a class="btn btn-primary" 
                                                    href="/editPatient/<%= patient.id %>">
                                                        <i class="fa fa-pencil"></i>
                                                    </a>
                                                    <a class="btn btn-danger"
                                                    href="/deletePatient/<%= patient.id %>">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        <% }) %>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
            <%- include('./partials/footer') %> 
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/js/custom.min.js"></script>
    <!-- Mask Field -->
    <script type="text/javascript" src="http://assets.locaweb.com.br/locastyle/2.0.6/javascripts/locastyle.js"></script>
</body>

</html>
